__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
# Ignore generated log files
data/**/*.csv

# Keep directory structure
!data/
!data/normal_logs/
!data/attack_logs/
!data/**/.gitkeep
.ipynb_checkpoints/
